pipeline/Demo FTP3.json
{
	"name": "Demo FTP3",
	"properties": {
		"description": "Demo FTP",
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SourceDataset_9qx",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureDataLakeStoreReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,'txt')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureDataLakeStoreReadSettings",
										"recursive": true,
										"wildcardFolderPath": "RawInput",
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureDataLakeStoreWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_9qx",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_9qx",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureDataLakeStoreWriteSettings",
							"maxConcurrentConnections": 4
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"maxRowsPerFile": 100,
							"fileNamePrefix": "risk.nexus",
							"quoteAllText": true,
							"fileExtension": ""
						}
					},
					"enableStaging": false,
					"parallelCopies": 4,
					"enableSkipIncompatibleRow": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "employee_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"type": "Int32",
									"physicalType": "Int32",
									"ordinal": 1
								}
							},
							{
								"source": {
									"name": "first_name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 2
								}
							},
							{
								"source": {
									"name": "last_name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 3
								}
							},
							{
								"source": {
									"name": "email",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 4
								}
							},
							{
								"source": {
									"name": "phone_number",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 5
								}
							},
							{
								"source": {
									"name": "hire_date",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"type": "DateTime",
									"physicalType": "DateTime",
									"ordinal": 6
								}
							},
							{
								"source": {
									"name": "job_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"type": "Int32",
									"physicalType": "Int32",
									"ordinal": 7
								}
							},
							{
								"source": {
									"name": "salary",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 8
								},
								"sink": {
									"type": "Decimal",
									"physicalType": "Decimal",
									"ordinal": 8
								}
							},
							{
								"source": {
									"name": "manager_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"type": "Int32",
									"physicalType": "Int32",
									"ordinal": 9
								}
							},
							{
								"source": {
									"name": "department_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"type": "Int32",
									"physicalType": "Int32",
									"ordinal": 10
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_9qx",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-02-05T12:53:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}